
html {
    margin: 0;
    /* for sticky footer */
    position: relative;
    min-height: 100%;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for sticky footer */
    margin-bottom: 60px; /* Margin bottom by footer height */
    }
.footer{
    /* for sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2hv;
    max-height: 10vh; /* Set the fixed height of the footer here */
    line-height: 5vh; /* Vertically center the text there */
    background-color: rgba(247, 182, 86, 0.326);
    font-size: 0.9em;
    padding: 0.5em
}
.container {
    width: 100%;
    padding-right: 0.1vw;
    padding-left: 0.1vw;
    margin-right: auto;
    margin-left: auto;
}
.events-container, .timeline-container{
    color:rgb(99, 95, 89);
}
a.lightlink{
    color:rgb(247, 182, 86);
    font-size: 1.2em
}
#world-map{
    min-width: 300px;
}
/* timeline horizontal scroll */
@media (pointer: coarse) {
    body { 
        background: rgb(197, 53, 82) 
    }
    body::after{ 
        content: "Primary input mechanism is a finger" 
    }
    .card::-webkit-scrollbar {
        display: none;
      }  
  }
  
  @media (pointer: fine) {
    body { 
        background: rgb(243, 205, 109) }

    body::after{ 
        content: "Primary input mechanism is a mouse" 
    }
    .card::-webkit-scrollbar-thumb {
        display: initial;
      }  
  }
.timeline-container{
  width: 100%;
  height: 100%;
}
.scroll-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
    display: flex;
    min-width: 100%;
    min-height: 3em;
    max-height: 9vh;
    overflow-x: auto;
    flex-direction:row;
    color:rgb(252, 248, 241);
    font-size: 0.8em;
    font-weight: 600;
  }
  .card--content {
    min-width: 3em;
    max-width: 3vw;
    min-height: 2em;
    max-height: 5vh;
    margin: .7vw;
    justify-content: center;
    padding: 0.1em;
    box-shadow: 3px 5px rgba(255,255,255,0.05);
  }
  .card--content.BCE{
    background-color: #e74c3c;
  }
  .card--content.CE{
    background-color: #6f3ce7;
  }
/* timeline horizontal scroll */
