html {
    margin: 0;
    /* for sticky footer */
    position: relative;
    min-height: 100%;
    }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for sticky footer */
    margin-bottom: 60px; /* Margin bottom by footer height */
    }
.footer{
    /* for sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2hv;
    max-height: 10vh; /* Set the fixed height of the footer here */
    line-height: 5vh; /* Vertically center the text there */
    background-color: pink;
    font-size: 0.9em;
    padding: 0.5em
}

a.lightlink{
    color:#F5F5F5;
    font-size: 1.2em
}